@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>ImageSearch uses cookies to authorize admins.</p>
<p>Admin role provides users with abilities to edit images and their keywords.</p>
