@model IEnumerable<ImageSearch.Models.Image>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keywords)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                <img src=@item.Source alt=@item.Name />
            </td>
            <td>
                @String.Join(", ", item.Keywords)
            </td>
        </tr>
}
    </tbody>
</table>
